@font-face {
    font-family: 'popins' ;
    src: url('../fonts/Poppins-Bold.ttf');
}
 /*colores exportados para cambiar el nombre del color por el que nosotros queramos*/
 :root{
    --verdeClaro : #C5E1B7 ;
    --verdeMedio : #8CB27B;
    --verdeOscuro : #0E5530;
    --amarillo: #F1A11E;
    --naranja: #E16B15;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.contenedor_borrar{
    height: 60vh;
    background-color: var(--verdeClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.borrar_texto{
    color: var(--verdeOscuro);
    font-size: 3rem;
    font-family: popins;
    text-align: center;
}
.borrar_boton{
    background-color: var(--amarillo);
    color: var(--verdeOscuro);
    border: none;
    font-family: popins;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
.borrar_boton:hover{
    scale: 1.2;
}
@media (max-width: 768px) {
    .borrar_texto {
        font-size: 2rem; /* Ajustar el tamaño en móviles */
        
    }
}