@font-face {
    font-family: 'popins' ;
    src: url('../fonts/Poppins-Bold.ttf');
}
 /*colores exportados para cambiar el nombre del color por el que nosotros queramos*/
 :root{
    --verdeClaro : #C5E1B7 ;
    --verdeMedio : #8CB27B;
    --verdeOscuro : #0E5530;
    --amarillo: #F1A11E;
    --naranja: #E16B15;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.contenedor_editar{
    padding: 1rem;
    background-color: var(--verdeClaro);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.editar_texto{
    color: var(--verdeOscuro);
    font-family: popins;
    font-size: 1.2rem;
}
.editar_cuadro{
    display: flex;
    background-color: var(--naranja);
    border-radius: 0.5rem;
    color: var(--verde);
    border: none;
    font-family: popins;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem 2rem;
    padding: 0.5rem;
}
.editar_boton{
    margin: 0 5rem;
    background-color: var(--amarillo);
    color: var(--verdeOscuro);
    border: none;
    font-family: popins;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 0.5em 1rem;
    cursor: pointer;
}
.editar_boton:hover{
    scale: 1.2;
}